{% extends  "Home/Includes/base.html" %}

<!-- the title of page -->
{% block title %}Logout{% endblock %}

{% block auth %}
    {% if user_id %}
    <li class="current-menu-item"><a href="{% url 'logout' %}">Logout</a></li>
    <li class=""><a href="/profile/{{user_id}}">Profile</a></li>
    {% else %}
    <li class=""><a href="{% url 'login' %}">Login</a></li>
    <li class=""><a href="{% url 'register' %}">Register</a></li>
    {% endif %}
{% endblock %}

<!-- the contain of body -->
{% block contain %}
<!--  this slider for any page only without index  -->
<!--
    there is three variables
    1- image_slide_name     >>>> this is will be the name of image and the url of image is ( Images/temp/ )
    2- page_title_slide     >>>> this is will be the title of the slide
    3- page_subtitle_slide  >>>> this is will be ths subtitle of slide
 -->
{% include  "Home/Includes/singleSlide.html" with image_slide_name='slide-9.jpg' page_title_slide='Logout' page_subtitle_slide='what do you think about me ?' %}


    <div class="container text-center">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 mt-5">
                <div class="logout" style="margin: 0;margin-bottom: 150px;">
                    <h3 class="border-bottom mb-3"> logout </h3>
                    <small>you are logged out if you want log in again from here<a href="{%url 'login' %}">login</a>
                    </small>
                </div>
            </div>
        </div>
    </div>



{% endblock %}