<!-- Footer -->
<footer class="footer" itemscope itemtype="http://schema.org/WPFooter">
	<div class="container">
		<div class="footer-top">
			<!-- Back To Top Button -->
			<a class="back-to-top anchor js-wave" href="#header"><i class="material-icons">keyboard_arrow_up</i></a>
			<!--/ Back To Top Button -->

			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="widget-footer">
						<!-- Logo TODO: Use image or text -->
						<div class="logo">
							<a href="index.html">
								<!-- <img class="logo-normal" src="images/logo-x2.png" alt=""/> -->
								Crowd<span>Funding</span>
							</a>
						</div>
						<!--/ Logo -->

						<div class="site-description" itemprop="about">
							<p>
								Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
								feugiat nulla facilisis at vero eros et accumsan et iusto.
							</p>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<!-- Widget Recent Posts -->
					<div class="widget-footer widget-posts">
						<h4 class="widget-title">latest news</h4>

						<article class="fly-article" itemscope itemtype="http://schema.org/Article">
							<div class="post-content" itemprop="articleBody">
								<h3 class="post-title"><a href="#" itemprop="name">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</a></h3>

								<div class="post-meta">
									<time class="post-date" datetime="2016-12-11T20:10:22" itemprop="dateCreated">11th Dec. 2016 - 10:22 AM</time>
								</div>
							</div>
						</article>

						<article class="fly-article" itemscope itemtype="http://schema.org/Article">
							<div class="post-content" itemprop="articleBody">
								<h3 class="post-title"><a href="#" itemprop="name">Duis autem vel eum iriure dolor in hendrerit</a></h3>

								<div class="post-meta">
									<time class="post-date" datetime="2016-12-11T20:08:44" itemprop="dateCreated">11th Dec. 2016 - 08:44 AM</time>
								</div>
							</div>
						</article>
					</div>
					<!--/ Widget Recent Posts -->
				</div>

				<div class="col-md-3 col-sm-6">
					<!-- Widget Twitter -->
					<div class="widget-footer widget-twitter">
						<h4 class="widget-title">twitter feed</h4>

						<article class="tweet">
							<a href="#" class="tweet-link">@OneHope consetetur sadipscing elitr, sed diam nonumy...</a>
							<time class="tweet-date" datetime="2016-12-11T20:08:44"># 2 hours ago</time>
						</article>

						<article class="tweet">
							<a href="#" class="tweet-link">Duis autem vel eum iriure @OneHope dolor in hendrerit in vulputate...</a>
							<time class="tweet-date" datetime="2016-12-11T20:08:44"># 4 hours ago</time>
						</article>
					</div>
					<!--/ Widget Twitter -->
				</div>

				<div class="col-md-3 col-sm-6">
					<!-- Widget Gallery -->
					<div class="widget-footer widget-gallery">
						<h4 class="widget-title">gallery widget</h4>
                        {% load static %}
						<ul>
							<li><a href="#" class="js-wave"><img src="{% static 'Images/temp/gallery-1.jpg' %}" alt=""/></a></li>
							<li><a href="#" class="js-wave"><img src="{% static 'Images/temp/gallery-2.jpg' %}" alt=""/></a></li>
							<li><a href="#" class="js-wave"><img src="{% static 'Images/temp/gallery-3.jpg' %}" alt=""/></a></li>
							<li><a href="#" class="js-wave"><img src="{% static 'Images/temp/gallery-4.jpg' %}" alt=""/></a></li>
							<li><a href="#" class="js-wave"><img src="{% static 'Images/temp/gallery-5.jpg' %}" alt=""/></a></li>
							<li><a href="#" class="js-wave"><img src="{% static 'Images/temp/gallery-6.jpg' %}" alt=""/></a></li>
						</ul>
					</div>
					<!--/ Widget Gallery -->
				</div>
			</div>
		</div>

		<div class="footer-bottom flex-container">
			<!-- Social Links -->
			<ul class="footer-social clearfix">
				<li><a href="#" class="fa fa-facebook js-wave"></a></li>
				<li><a href="#" class="fa fa-twitter js-wave"></a></li>
				<li><a href="#" class="fa fa-instagram js-wave"></a></li>
				<li><a href="#" class="fa fa-google js-wave"></a></li>
				<li><a href="#" class="fa fa-dribbble js-wave"></a></li>
				<li><a href="#" class="fa fa-vimeo js-wave"></a></li>
				<li><a href="#" class="fa fa-pinterest-p js-wave"></a></li>
				<li><a href="#" class="fa fa-linkedin js-wave"></a></li>
			</ul>
			<!--/ Social Links -->

			<!-- Copyright -->
			<div class="footer-copyright">
				&copy; <span itemprop="copyrightYear">2019</span> by <a rel="nofollow" href="http://flytemplates.com/" target="_blank" itemprop="copyrightHolder">FlyTemplates</a> | OneHope Donation Template
			</div>
			<!--/ Copyright -->
		</div>
	</div>
</footer>
<!--/ Footer -->