{% load static %}
<!-- Fly Slider -->
<div class="fly-slider invisible" data-rotation-interval="10000" data-rotation-duration="1000">
    <div class="cube">
        <section class="slide" style="background-image: url({% static 'Images/temp/slide-1.jpg' %});">
            <div class="slide-content">
                <h1 class="page-title">Helping Hands for Everyone</h1>
                <div class="page-subtitle">Choose the way to help people in need</div>
                <div class="volunteer-cta">
                    <a href="#" class="btn btn-large btn-icon js-wave"><i class="material-icons">arrow_forward</i>BECOME
                        A VOLUNTEER TODAY</a>
                    <div class="note">no credit card needed / secure payments</div>
                </div>
            </div>
        </section>
        <section class="slide" style="background-image: url({% static 'Images/temp/slide-2.jpg' %});">
            <div class="slide-content">
                <h2 class="page-title">Helping Hands for Everyone</h2>
                <div class="page-subtitle">Choose the way to help people in need</div>
                <div class="volunteer-cta">
                    <a href="#" class="btn btn-large btn-icon js-wave"><i class="material-icons">arrow_forward</i>BECOME
                        A VOLUNTEER TODAY</a>
                    <div class="note">no credit card needed / secure payments</div>
                </div>
            </div>
        </section>
        <section class="slide" style="background-image: url({% static 'Images/temp/slide-3.jpg' %});">
            <div class="slide-content">
                <h2 class="page-title">Helping Hands for Everyone</h2>
                <div class="page-subtitle">Choose the way to help people in need</div>
                <div class="volunteer-cta">
                    <a href="#" class="btn btn-large btn-icon js-wave"><i class="material-icons">arrow_forward</i>BECOME
                        A VOLUNTEER TODAY</a>
                    <div class="note">no credit card needed / secure payments</div>
                </div>
            </div>
        </section>
        <section class="slide" style="background-image: url({% static 'Images/temp/slide-4.jpg' %});">
            <div class="slide-content">
                <h2 class="page-title">Helping Hands for Everyone</h2>
                <div class="page-subtitle">Choose the way to help people in need</div>
                <div class="volunteer-cta">
                    <a href="#" class="btn btn-large btn-icon js-wave"><i class="material-icons">arrow_forward</i>BECOME
                        A VOLUNTEER TODAY</a>
                    <div class="note">no credit card needed / secure payments</div>
                </div>
            </div>
        </section>
    </div>
    <a class="slider-control prev js-wave" href="#"><i class="material-icons">keyboard_arrow_left</i></a>
    <a class="slider-control next js-wave" href="#"><i class="material-icons">keyboard_arrow_right</i></a>
</div>
<!--/ Fly Slider -->