<!-- JS Section -->
{% load static %}
<!-- Libs -->
<script src="{% static 'JS/libs/jquery-1.12.2.min.js' %}"></script>
<script src="{% static 'JS/libs/jquery-ui-1.11.4.min.js' %}"></script>
<script src="{% static 'JS/libs/bootstrap.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

<!-- Placeholders -->
<script src="{% static 'JS/jquery.powerful-placeholder.min.js' %}"></script>

<!-- Select2  -->
<script src="{% static 'JS/select2.full.min.js' %}"></script>

<!-- InputMask -->
<script src="{% static 'JS/inputmask.min.js' %}"></script>
<script src="{% static 'JS/jquery.inputmask.min.js' %}"></script>

<!-- LightBox -->
<script src="{% static 'JS/jquery.swipebox.min.js' %}"></script>

<!-- Owl Slider -->
<script src="{% static 'JS/carousel.js' %}"></script>

<!-- CarouFredSel -->
<script src="{% static 'JS/jquery.carouFredSel-6.2.1-packed.js' %}"></script>


<!-- MouseWheel -->
<script src="{% static 'JS/jquery.mousewheel.min.js' %}"></script>

<!-- TouchSwipe -->
<script src="{% static 'JS/jquery.touchSwipe.min.js' %}"></script>

<!-- ScrollBar -->
<script src="{% static 'JS/jquery.nicescroll.min.js' %}"></script>

<!-- StickyKit -->
<script src="{% static 'JS/jquery.sticky-kit.min.js' %}"></script>

<!-- TweenLite, used for smooth scrolling -->
<script src="{% static 'JS/TweenLite.min.js' %}"></script>
<script src="{% static 'JS/ScrollToPlugin.min.js' %}"></script>

<!-- Google Map -->
<!--<script src="https://maps.google.com/maps/api/js?key=AIzaSyBsiIXmVIO8K_S-f6_Ln0AjnYdvc3ttx9U"></script>-->
<script src="{% static 'JS/jquery.gmap.min.js' %}"></script>
<script src="{% static 'JS/gmap-style.js' %}"></script>
<script src="{% static 'JS/gmap-init.js' %}"></script>

<!-- Youtube Api -->
<!--<script src="https://www.youtube.com/iframe_api"></script>-->

<!-- FroogaLoop for Vimeo  -->
<script src="{% static 'JS/libs/froogaloop2.min.js' %}"></script>

<!-- Waves -->
<script src="{% static 'JS/waves.min.js' %}"></script>

<!-- Object Fit PolyFill -->
<script src="{% static 'JS/ofi.browser.js' %}"></script>

<!-- General Scripts -->
<script src="{% static 'JS/general.js' %}"></script>


<!--<script src="{% static 'JS/libs/jquery-3.4.1.min.js' %}"></script>-->
<!--<script src="{% static 'JS/libs/bootstrap.min.js' %}"></script>-->
<script src="{% static 'JS/owl.carousel.min.js' %}"></script>
<!--  -->
<script src="{% static 'JS/MyScript.js' %}"></script>

</body>

</html>
